.title{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    
}

a{
    text-decoration: none;
}
li{
    list-style-type: circle;
}